*.pyc
data/**/00-raw_pdbs/
data/**/01-benchmark_surfaces/
data/**/01-benchmark_pdbs/
data/**/02-matfile/
data/**/02-matfile/
data/**/03-coords/
data/**/04*precomputation*/
data/**/data_preparation
data/masif_site/exelogs
*.out
*.err
*.mat
*.npy
*.npz
checkpoint
data/**/cache/
**/obsolete/*
.ipynb_checkpoints
data/masif_ppi_search/descriptors/
data/masif_ppi_search_ub/descriptors/
data/masif_site/output/
tensorflow-1.9/
tensorflow_on_gpu/
data/masif_ligand/output_files
data/masif_ligand/error_files
data/masif_ligand/started_proteins.txt
data/masif_ligand/finished_proteins.txt
data/masif_ligand/make_tf.out
data/masif_ligand/make_tf.err
data/masif_ligand/make_tfrecord_pid.txt
data/masif_ligand/schedule_data_prepare_pid.txt
data/masif_ligand/train_model_pid.txt
data/masif_ligand/train_model.out
data/masif_ligand/train_model.err
data/masif_ligand/lists/
data/masif_ligand/nn_models*
source/tf2/*/kerasModel*
source/tf2/ligand_site_one/modelBackup*
source/tf2/*/*pid*
source/tf2/usage/results*
func.py
data/masif_site/nn_model*
data/masif_site/*.out
data/masif_site/*.err
data/masif_site/*pid*
data/masif_site/*_files
source/tf2/usage/masif_ligand_model
data/masif_ligand/shoc2
source/tf2/usage_new/results*
source/tf2/masif_ligand/*loss.txt
source/tf2/masif_ligand/*accuracy*
source/tf2/masif_ligand/0.*
source/tf2/masif_ligand/30
source/tf2/masif_ligand/10
source/tf2/masif_ligand/25
source/tf2/masif_ligand/l2
source/tf2/ligand_site_one/batched/auc.txt
source/tf2/ligand_site_one/batched/kerasModel
source/tf2/ligand_site_one/batched/loss.txt
source/tf2/ligand_site_one/batched/make*
source/tf2/*/*.txt
source/tf2/*/*/*.txt
source/tf2/*/l2*
source/tf2/*/*/l2*
source/tf2/*/kerasModel*
source/tf2/*/*/kerasModel*
source/tf2/*/*.tar.gz
source/tf2/*/*/*.tar.gz
source/tf2/*/outdir
source/tf2/*/*/outdir
